<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{input.title_ja}"></title>
</head>
<body>
    <h1 th:text="#{input.title_ja}"></h1>
    <h2 th:text="#{input.heading_ja}"></h2>
    <p th:text="#{input.prompt_ja}"></p>

    <form action="/output" method="post">
        <input type="text" id="value" name="value">
        <button type="submit" th:text="#{input.submit_ja}"></button>
    </form>

	<p th:if="${previous != null}">
	     <span th:text="#{input.previous_ja} + ${previous} + #{input.previous2_ja}"></span>
	</p>
</body>
</html>
